<!DOCTYPE html>
<html xmlns:f="http://www.w3.org/1999/xlink">
<head>
	<meta charset="utf-8">
	<title><f:render section="Title" /> :: BudgetPlan</title>

	<!--<script type="application/javascript" src="<f:uri.resource package='WMDB.Forger' path='foundation-5.4.7/js/foundation.min.js' />"></script>-->
	<!--<script type="application/javascript" src="<f:uri.resource package='WMDB.Forger' path='foundation-5.4.7/js/foundation/foundation.reveal.js' />"></script>-->
	<!--<script type="application/javascript" src="<f:uri.resource package='WMDB.Forger' path='foundation-5.4.7/js/foundation/foundation.offcanvas.js' />"></script>-->
	<link rel="stylesheet" href="<f:uri.resource path='css/WMDB.BudgetPlan.css' />" />
	<f:render section="Javascripts" />
	<f:base />
</head>
<body>
	<div class="contain-to-grid">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a href="/budget"><img src="<f:uri.resource package='WMDB.BudgetPlan' path='img/typo3-orange-200px-transparent.png' />" style="height: 45px" alt="BudgetPlaner"> CMS BudgetPlan</a> </h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<f:render partial="RightMenu" />
			<f:render partial="MainMenu" />
		</section>
	</nav>
</div>
<div class="row">
	<div class="small-12 columns">
		<f:flashMessages as="messages">
			<f:if condition="{messages}">
				<f:for each="{messages}" as="message">
					<f:switch expression="{message.severity}">
						<f:case value="OK">
							<div class="alert-box success radius" data-alert="">
								{message}
								<a href="#" class="close">&times;</a>
							</div>
						</f:case>
						<f:case value="Warning">
							<div class="alert-box warning radius" data-alert="">
								{message} {message.severity}
								<a href="#" class="close">&times;</a>
							</div>
						</f:case>
						<f:case value="Notice">
							<div class="alert-box info radius" data-alert="">
								{message} {message.severity}
								<a href="#" class="close">&times;</a>
							</div>
						</f:case>
						<f:case value="Error">
							<div class="alert-box alert radius" data-alert="">
								{message} {message.severity}
								<a href="#" class="close">&times;</a>
							</div>
						</f:case>
						<f:defaultCase>
							<div class="alert-box secondary radius" data-alert="">
								{message} {message.severity}
								<a href="#" class="close">&times;</a>
							</div>
						</f:defaultCase>
					</f:switch>
				</f:for>
			</f:if>
		</f:flashMessages>
		<f:render section="Content" />
	</div>
</div>
<script type="application/javascript" src="<f:uri.resource package='WMDB.BudgetPlan' path='js/WMDB.BudgetPlan-dist.js' />"></script>
</body>
</html>