<f:layout name="Default" />

<f:section name="Title">Manage Types</f:section>
<f:section name="Javascripts"></f:section>

<f:section name="Content">
	<div class="row">
		<div class="small-12 column">
			<table>
				<tr>
					<th>Name</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<f:for each="{types}" as="type">
					<tr>
						<td class="text-center">{type.title}</td>
						<td class="text-center"><f:link.action action="edit" arguments="{type:type}" class="button success"><span class="fi-page-edit icon"></span> Edit</f:link.action></td>
						<td><f:link.action action="delete" arguments="{type:type}" class="button alert"><span class="fi-page-delete icon"></span> Delete</f:link.action></td>
					</tr>
				</f:for>
			</table>
			<f:link.action action="new" class="button"><span class="fi-page-add icon"></span> Add</f:link.action>
		</div>
	</div>
</f:section>