<f:layout name="Default" />

<f:section name="Title">CMS Budget Tool</f:section>
<f:section name="Javascripts"></f:section>

<f:section name="Content">
	<div class="row">
		<div class="small-12">
			<f:security.ifAuthenticated>
				<f:then>
					<f:security.ifHasRole role="User">
						<h1>Feel free to take a look around</h1>
					</f:security.ifHasRole>
					<f:security.ifHasRole role="Guest">
						<h1>You need to get promoted first</h1>
					</f:security.ifHasRole>
				</f:then>
				<f:else>
					<h1>You need to register</h1>
					<p>@todo Write something about this site</p>
				</f:else>
			</f:security.ifAuthenticated>
		</div>
	</div>
</f:section>